.post-body{
  padding:0 15px;
}

.post-body img{
  width:100%;
  border-radius: 5px;
}

.post-body a{
  color:#EE1C25;
}

.post-body a:hover{
  text-decoration: underline;
}

.post-cover > div{
  border-radius:5px;
}

.post-details{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.post-category{
  width:100%;
}

.post-category > a {
  background:#EE1C25;
  text-transform: uppercase;
  display:inline-block;
  padding:2.5px 15px;
  font-weight: 700;
  border-radius: 5px;
  color:white;
  font-size:12px;
}

.post-author > a{
  color:#EE1C25;
}