.product-title{
    font-size:2rem;
    text-transform: uppercase;
    margin:0;
}

.full-width{
    margin-top:20px;
    width:100%;
}

.product{
    display:flex;
}

.product-slider{
    height:85vh;
    width:60%;
    display:flex;
    justify-content: space-between;
}

.thumbs-slider-container{
    height:100%;
    width:20%;
}

.thumbnail-slide{
    height:100%;
    overflow:hidden;
}

.thumbnail{
    position: relative;
    height:100%;
    cursor:pointer;
}

.thumbnail-slider{
    height:100%;
    padding:35px 40px 35px;
}

.thumbnail-image{
    width:100%;
    height:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:5px;
}

.main-slider-container{
    height:100%;
    width:65vh;
    margin:auto;
}

.main-slider{
    height:100%;
    width:100%;

}

.main-image{
    border-radius:5px;
}

.swiper-next-el{
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%, 0) rotate(90deg);
    width:35px;
    height:35px;
    z-index:1;
    > img{
        height:100%;
    }
}

.swiper-prev-el{
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%, 0) rotate(-90deg);
    width:35px;
    height:35px;
    z-index:1;
    > img{
        height:100%;
    }
}

.product-information{
    flex-grow:1;
    padding:0 10% 0 0;
}

.sizes{
    display:flex;
    margin-bottom:20px;
}

.size{
    width:2rem;
    height:2rem;
    border:1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right:5px;
    cursor:pointer;
}

.call-to-action-button{
    width:100%;
    background:black;
    border:none;
    text-transform: uppercase;
    padding:10px;
    color:white;
    font-weight:700;
    border-radius:5px;
}

.product-description{
    font-size:0.9rem;
}

.not-available{
    opacity:0.2;
}

.selected{
    background:black;
    color:white;
}

.error{
    margin-top:20px;
    padding:15px;
    background:#EE1C25;
    border-radius:5px;
    text-align:center;
    color:white;
}