@import '../../styles/breakpoints.scss';

.product-title{
    font-size:2rem;
    text-transform: uppercase;
    margin:0;
}

.full-width{
    margin-top:20px;
    width:100%;
}

.product{
    display:flex;
    flex-direction: column;
    @include breakpoint(lg){
        flex-direction: row;
    }
}

.product-slider{
    width:100%;
    display:flex;
    flex-direction: column-reverse;
    @include breakpoint(sm){
        width:70%;
        align-self: center;
    }
    @include breakpoint(lg){
        flex-direction: row;
        justify-content: space-between;
        height:85vh;
        width:60%;
        align-self: flex-start;
    }
}

.thumbs-slider-container{
    height:100%;
    width:100%;
    margin-top:10px;
    @include breakpoint(lg){
        width:20%;
        margin-top:0;
    }
}

.thumbnail-slide{
    height:100%;
    overflow:hidden;
}

.thumbnail{
    position: relative;
    height:100%;
    cursor:pointer;
}

.thumbnail-slider{
    height:100%;
    padding:0 35px 0;
    @include breakpoint(lg){
        padding:35px 0vw;
    }
}

.thumbnail-image{
    width:100%;
    height:100%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,0%);
    @include breakpoint(lg){
        transform:translate(-50%,-50%);

    }
}

.main-slider-container{
    height:100%;
    width:100%;
    margin:auto;
    @include breakpoint(sm){
        width:70%;
    }
    @include breakpoint(lg){
        width:65vh;
    }
}

.main-slider{
    height:100%;
    width:100%;

}

.main-image{
    @include breakpoint(lg){
        width:100%;
    }
}

.swiper-next-el{
    position:absolute;
    top:50%;
    right:0;
    transform:translate(0%, -50%);
    width:35px;
    height:35px;
    z-index:1;
    > img{
        height:100%;
    }
    @include breakpoint(lg){
        bottom:0;
        left:50%;
        top:unset;
        right:unset;
        transform:translate(-50%, 0) rotate(90deg);
    }
}

.swiper-prev-el{
    position:absolute;
    top:50%;
    left:0;
    transform:translate(0%, -50%) rotate(180deg);
    width:35px;
    height:35px;
    z-index:1;
    > img{
        height:100%;
    }
    @include breakpoint(lg){
        top:0;
        left:50%;
        bottom:unset;
        right:unset;
        transform:translate(-50%, 0) rotate(-90deg);
    }
}

.product-information{
    flex-grow:1;
    margin:20px 0 20px;
    @include breakpoint(sm){
        align-self: center;
        width:50%;
    }
    @include breakpoint(lg){
        align-self: flex-start;
        margin-top:0;
        padding:0 10% 0 0;
    }
}

.sizes{
    display:flex;
    margin-bottom:20px;
}

.size{
    min-width:2rem;
    padding:5px;
    border:1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right:5px;
    cursor:pointer;
}

.call-to-action-button{
    width:100%;
    background:black;
    border:none;
    text-transform: uppercase;
    padding:10px;
    color:white;
    font-weight:700;
}

.product-description{
    font-size:0.9rem;
}

.not-available{
    opacity:0.2;
}

.selected{
    background:black;
    color:white;
}

.error{
    margin-top:20px;
    padding:15px;
    background:#EE1C25;
    text-align:center;
    color:white;
}