@import '../../styles/breakpoints.scss';

.group-paragraph{
    font-weight:700;
    text-transform: uppercase;
    margin:5px 0;
    font-size:1.5rem;
}

.group-paragraph, .sitemap-entries > a{
    text-align: center;
    @include breakpoint(sm){
        text-align: left;
    }
}

.sitemap-entries{
    padding-bottom:50px;
    @include breakpoint(sm){
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
}

.entry-group{
    margin-bottom:50px;
    @include breakpoint(sm){
        width:33.333333%;
    }
}

.entry{
    margin:0;
    text-transform: uppercase;
    font-size:1.25rem;
    font-weight: 600;
    text-align: center;
    @include breakpoint(sm){
        text-align: unset;
    }
}

.subentry-list{
    margin:0;
    margin-bottom:5px;
    padding-left:0;
    text-align: center;
    list-style-type: none;
    opacity:0.65;
    @include breakpoint(sm){
        padding-left:15px;
        text-align: unset;
    }
}

.subentry{
    text-transform: uppercase;
    font-weight: 500;
}