.post-category{
    background:#EE1C25;
    text-transform: uppercase;
    display:inline-block;
    padding:2.5px 15px;
    font-weight: 700;
    border-radius: 5px;
    color:white;
    font-size:12px;
}

.post-author{
    display:inline-block;
    margin-left:10px;
    padding-left:10px;
    border-left:1px solid black;
    font-size:12px;
}

.post-author > a{
    font-weight:600;
}

.post{
    margin-bottom:20px;
}

.swiper-pagination{
    text-align:center
}

.swiper-pagination > span{
    background-color: black;
    width:12px;
    height:12px;
}

.active-slide{
    opacity:1;
    transition:0.5s;
}

.inactive-slide{
    opacity:0.1;
    transition:0.5s;
}

.post-cover{
    width:100%;
}