@import '../../styles/breakpoints.scss';

.post-category{
    background:#EE1C25;
    text-transform: uppercase;
    display:inline-block;
    padding:2.5px 15px;
    font-weight: 700;
    color:white;
    font-size:0.75rem;
}

.post{
    margin-bottom:20px;
    display:flex;
    overflow: hidden;
    height:16vh;
    @include breakpoint(sm){
        height:20vh;
    }
    @include breakpoint(lg){
        height:40vh;
    }
}

.post-image{
    width:60%;
}

.post-heading{
    font-size:0.75rem;
    margin-top:10px;
    font-weight:700;
    @include breakpoint(sm){
        font-size:1.25rem;
    }
}

.post-text{
    padding-left:5%;
    width:40%;
}

.post-author{
    display:none;
}