@import '../../styles//breakpoints.scss';

.location-card{
  display:flex;
  flex-direction: row;
  margin-bottom:20px;
  padding:5px;
  cursor: pointer;
  
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  height:120px;
  min-height:120px;
  @include breakpoint(sm){
      height:80px;
      min-height:80px;
  }
  @include breakpoint(lg){
      height:140px;
      min-height:140px;
  }
}
.card-cover{
  width:50%;
  overflow: hidden;
}

.card-cover > div{
  height:100%;
}

.card-text{
  width:50%;
  padding:5px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  @include breakpoint(sm){
      padding:5px 20px;
  }
}

.card-title{
  margin:0;
  font-weight:600;
  @include breakpoint(sm){
      font-size:0.75rem;
  }
}

.card-address{
  margin:0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;

  font-size:0.75rem;
  @include breakpoint(sm){
      font-size:0.5rem;
  }
}

.distance{
  margin:0;

  font-size:0.5rem;
}