@import '../../styles/breakpoints.scss';

.map{
    width:100%;
    height:30vh;
    display: inline-block;
    @include breakpoint(lg){
        width:60%;
        height:50vh;
    }
}

.locations{
    width:100%;
    display: inline-block;
    margin-top:20px;
    @include breakpoint(lg){
        width:40%;
        height:50vh;
        margin-top:0;
        margin-left:10px;
    }
}

.map-and-locations{
    display:flex;
    flex-direction:column;
    @include breakpoint(lg){
        flex-direction: row;
    }
}

.category-cover{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100%;
    z-index:-1;
    filter: brightness(75%);
}

.category-cover-container{
    position:relative;
    overflow: hidden;
    min-height: 20vh;
    padding:5px;
    @include breakpoint(lg){
        min-height:40vh;
        padding:50px;
    }
}

.category-cover-heading{
    color:white;
}

.sub-categories-navigation{
    display:none;
    @include breakpoint(lg){
        width:100%;
        position:sticky;
        top:83.2px;
        left:0;
        height:50px;
        z-index:2;
        background-color:white;
        display:flex;
        align-items: center;
        justify-content: center;
        box-shadow:0px 3px 6px rgba(0, 0, 0, 0.16);
    }
}

.sub-categories-navigation > a{
    padding:0 10px;
}

.title-and-see-more{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.package-container{
    display:flex;
    justify-content: space-between;
    margin:40px 0;
    flex-direction: column;
    padding:0 20px;
    flex-wrap: wrap;
    @include breakpoint(lg){
        flex-direction: row;
        padding:0;
    }
}

.package-section{
    padding:40px 0;
}

.package {
    border-radius:5px;
    padding:15px 5px;
    flex-basis: 31%;
    box-shadow:0 3px 6px rgba(0, 0, 0, 0.16);
    color:white;
    margin-bottom:25px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    position:relative;
    overflow:hidden;
    transition:0.2s;
    @include breakpoint(lg){
        margin:0;
        margin-bottom:20px;
    }
}

.package:hover{
    transform:scale(1.1);
    @include breakpoint(lg){
        transform:scale(1.35);
    }
}



.package-title{
    font-size:1.15rem;
    line-height: 1.15rem;
    margin:0 0 25px;
    font-weight:700;
    text-align: center;
    text-transform: uppercase;
    @include breakpoint(lg){
        font-size:1.35rem;
        line-height:1.35rem;
    }
}

.full-height-image{
    height:100%;
}

.overlay{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    background-color:rgba(0, 0, 0, 0.65);
    z-index:1;
}

.background{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    height:100%;
    z-index:-1;
}

.package-body{
    border-radius:5px;
    text-align: center;
    padding:15px 15px;
}