@import '../../styles/breakpoints.scss';

.products{
    width:75%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter-container{
    width:20%;
}

.product{
    width:21%;
    margin:0 4% 3vw 0;
}

.full-width{
    width:100%;
    padding:0;
}

.shop-banners-container{
    height:67.5vh;
    display:flex;
    margin-bottom:50px;
}

.carousel{
    border-radius: 5px;
    position: relative;
}

.navigation{
    position:absolute;
    bottom:0;
    z-index:1;
    display:flex;
    padding:10px;
}

.navigation > img {
    width:100%;
}

.swiper-prev-el, .swiper-next-el{
    background:black;
    border-radius:5px;
    padding:5px;
    margin:5px;
    width:50px;
    height:50px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.swiper-prev-el{
    transform:rotate(90deg);
}

.swiper-next-el{
    transform:rotate(-90deg);
}

.banner-text-container{
    width:25%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:3%;
}


.banner-text > a{
    background:black;
    color:white;
    padding:10px 20px;
    border-radius:5px;
    font-weight: 700;
}

.banner-images{
    width:75%;
    height: 100%;
}

.carousel{
    height:100%;
}

.slide{
    max-height:67.5vh;
    display:relative;
    width:90%;
}

.slide > img{
    position:absolute;
    width:100%; 
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.product-container{
    display:flex;
}

.filter-container{
    width:25%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.filters{
    box-shadow:0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    width:80%;
    display: flex;
    flex-direction: column;
    padding:15px;
}

.filter{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.filter > input{
    color:black;
}