@import '../../styles/breakpoints.scss';

.logo{
  width: 36px;
  height:36px;
  display:inline-block;
}

.header{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 10px;
  box-shadow:0 3px 6px rgba(0, 0, 0, 0.16);
  background-color:white;
  position:sticky;
  top:0;
  z-index:3;
  border-width: 0px;
  transition:0.5s;
  @include breakpoint(lg){
    padding:20px 50px;
  }
}

.header-links{
  display:none;
  @include breakpoint(lg){
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    flex-grow:1;
  }
}

.header-links > a{
  padding:0 15px;
  width:max-content;
}

.header-dark{
  background:black;
}

.header-dark > .header-main-buttons{
  color:white;
}

.header-dark .header-links .menu-button-container{
  border:1px solid white;
}

.header-main-buttons{
  display:flex;
  justify-content: space-between;
}

.header-links > .menu-button-container{
  @include breakpoint(lg){ 
    width:auto;
    border:1px solid black;
    padding:5px;
    border-radius: 5px;
    cursor: pointer;
    > img{
      margin-left:5px;
    }
  }
}

.header-more-menu{
  display:flex;
  flex-wrap:wrap;
  background:white;
  padding:20px 0 5vh;
  height:100vh;
  overflow:scroll;
  transition:0.5s;
  @include breakpoint(lg){
    max-width:800px;
    margin:auto;
    overflow-x: hidden;
    justify-content: center;
    align-items: flex-start;
  }
}

.links-block{
  width:47.5%;
  padding-bottom:20px;

  color:white;
  @include breakpoint(lg){
    display: flex;
    flex-direction: column;
    align-items: center;
    width:33.3333333%;
  }
}

.links-block:nth-of-type(3), .links-block:nth-of-type(6){
  align-items: flex-end;
}

.centered-container{
  @include breakpoint(lg){
    width:200px;
  }
}

.link{
  display:flex;
  text-transform: uppercase;
  font-size:1.4375rem;
  font-weight:800;
  > img{
    margin-right:7.5px;
  }
}

.links-group-name{
  font-size:0.75rem;
  opacity:0.7;
  text-transform: uppercase;
  margin:unset;
}

.links-block > a{
  display:flex;
  text-transform: uppercase;
  font-size:1.4375rem;
  font-weight:800;
}

.links-block > a > img {
  margin-right:7.5px;
}

.nav-footer-links{
  display:flex;
}

.nav-footer-links > a {
  color:white;
  opacity:0.7;
  font-size:0.75rem;
  font-weight: 800;
  padding:0 1vw;
  text-transform: uppercase;
}

.nav-footer-copyright{
  display:block;
  padding-bottom:30px;

  color:white;
  text-align: center;
}

.menu-button-container{
  width:20px;
  display:flex;
  cursor: pointer;
  @include breakpoint(lg){
    align-items: center;
  }
}

.menu-button-container img {
  width:20px;
}

.menu-button-container a{
  display:flex;
  align-items: center;
}

.misc-nav-items{
  display:flex;
  width:20%;
  justify-content: flex-end;
  align-items: center;
  @include breakpoint(lg){
    flex-basis:20%;
    min-width: 300px;
  }
}

.hamburger-nav-items{
  width:20%;
  display: flex;
  justify-content: flex-start;
  @include breakpoint(lg){
    display:none;
  }
}

.logo-nav-items{
  width:20%;
  display:flex;
  justify-content: center;
  @include breakpoint(lg){
    flex-basis:20%;
    max-width: 20%;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 1;
  }
}

.nav-social-links{
  display:none;
  @include breakpoint(lg){
    display:flex;
    margin-left:30px;
  }
}

.nav-social-links > .menu-button-container{
  margin-left:10px;
}

.header-more-menu-container, .header-search-container{
  max-height:0px;  
  overflow:hidden;
  transition:0.5s;

  z-index:3;
}

.header-more-menu-container-opened, .header-search-container-opened{
  max-height: 100vh;
}

.header-search{
  @include breakpoint(lg){
    max-width:400px;
    margin:auto;
  }
}

.header-more-menu-opened{
  background:black;
}

.search-input{
  width:100%;
  padding:5px;
  margin:10px 0;
  
  border:unset;
  border:1px solid #707070;
  border-radius:5px;
  @include breakpoint(lg){
    display:none;
  }
}

.header-search-input{
  width:100%;
  padding:5px 5px;
  display: none;
  font-size:0.75rem;
  margin:0 10px;
  
  border:unset;
  border:1px solid #707070;
  border-radius:5px;
  @include breakpoint(lg){
    min-width:100px;
    display: block;
  }
}

.header-search-container-opened{
  max-height:50vh;
}

.search-result-text{
  position:relative;

  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.search-result-text > p{
  margin:0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}

.search-result-thumbnail{
  min-width:100px;
  margin-right:5px;
}

.search-result-thumbnail > div{
  border-radius:5px;
}

.search-results{
  border-radius: 5px;
  background-color:#ffffff;

  overflow:scroll;
  max-height:40vh;
  @include breakpoint(lg){
    overflow-x: hidden;
  }
}

.search-result-link{
  display:flex;
}

.search-result-date{
  position:absolute;
  bottom:0;
  left:0;

  font-size:0.75rem;
}

.shopping-cart{
  margin-left:15px;
  height:25px;
  position:relative;
  img{
    height:100%;
  }
}

.num-of-items-in-cart{
  position:absolute;
  background:black;
  color:white;
  border-radius:50%;
  width:15px;
  height:15px;
  font-size:0.5rem;
  display:flex;
  align-items:center;
  justify-content:center;
  top:-5px;
  right:-5px;
}