@import '../../styles/breakpoints.scss';

.footer{
  padding:10px;

  background:#ffffff;
  box-shadow:0 -3px 6px rgba(0, 0, 0, 0.16);
  z-index:2;
  @include breakpoint(lg){
    padding: 10px 40px;
  }
}

.footer-links{
  @include breakpoint(lg){
    display:flex;
    justify-content: space-between;
  }
}

.footer-links > hr{
  @include breakpoint(lg){
    display:none;
  }
}

.social-container > p {
  text-align: center;
  @include breakpoint(lg){
    text-align: left;
    padding-left:17.5px;
  }
}

.social-icons-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.social-icons-container > a {
  padding: 0 17.5px;
}

.social-icons-container > a > img{
  @include breakpoint(lg){
    width:20px;
  }
}

.column-links{
  display:flex;
  flex-direction:column;
  @include breakpoint(lg){
    align-items: flex-end;
    flex-direction: row;
  }
}

.column-links > a{
  font-size:1.25rem;
  padding:10px 0;
  @include breakpoint(lg){
    padding:10px 20px;
    font-size:1rem;
  }
}

.copyright-text{
  display: inline-block;
  width:100%;
  text-align:center;
  @include breakpoint(lg){
    font-size:1rem;
  }
}