@import '../../styles/breakpoints.scss';

.agency-illustration{
    > svg{
        width:75vw;
        height:auto;
        @include breakpoint(sm){
            width:450px;
        }
    }
}

.centered{
    transform-origin: center;
    transform-box: fill-box;
}

.bottom-centered{
    transform-origin: center bottom;
    transform-box: fill-box;
}