.post-category{
    background:#EE1C25;
    text-transform: uppercase;
    display:inline-block;
    padding:2.5px 15px;
    font-weight: 700;
    border-radius: 5px;
    color:white;
    font-size:0.75rem;
    margin-right:10px;
}

.post-author{
    display:inline-block;
    font-size:0.625rem;
    margin:0;
}

.post-author > a{
    font-weight:600;
    color:#EE1C25;
}

.post{
    margin-bottom:20px;
}

.post-cover{
    border-radius:5px;
}

.swiper-pagination{
    text-align:center
}

.post-image{
    width:100%;
    margin-bottom:10px;
}

.post-heading{
    font-size:0.75rem;
    margin-top:10px;
    font-weight:700;
}

.swiper-pagination > span{
    background-color: black;
    width:12px;
    height:12px;
}

.slide{
    width:100%;
}

.carousel > div:nth-of-type(1) > div {
    transform:scale(0.75);
    transition:0.5s;
}

.carousel > div:nth-of-type(1) > .active-slide{
    transform:scale(1);
    transition:0.5s;
}


.is-only-slide{
    width:100%;
}

.swiper-next-el, .swiper-prev-el{
    position:absolute;
    bottom:0;
    width:25px;
    height:25px;
    cursor:pointer;
}

.swiper-next-el{
    right:0;
}

.swiper-prev-el{
    left:0;
    transform:rotate(180deg);
}

.post-details{
    margin-top:16px;
}