.post-category{
    background:#EE1C25;
    text-transform: uppercase;
    display:inline-block;
    padding:2.5px 15px;
    font-weight: 700;
    color:white;
    font-size:0.75rem;
    margin-right:10px;
}
