.newsletter-form{
  display:flex;
  flex-direction: column;
  padding:10px;
  margin:30px 0;

  box-shadow:0px 3px 6px rgba(0, 0, 0, 0.16);
  border-radius:5px;
}

.newsletter-text{
  font-size:12px;
  font-weight:700;
}

.newsletter-text > span{
  color:#EE1C25;
}

.newsletter-input-email{
  padding:5px;

  border-radius:5px;
  border:1px solid #707070;
}

.newsletter-submit-button{
  padding:5px;

  background:#EE1C25;
  border:none;
  border-radius: 5px;
  color:white;
  font-weight:800;
  font-size:12px;
}

.newsletter-text ,.newsletter-input-email, .newsletter-submit-button{
  margin-bottom:20px;
}

.newsletter-form-dark{
  background:#141414;
}

.newsletter-form-dark > .newsletter-text{
  color:white;
}

.newsletter-form-dark > .newsletter-input-email{
  background:#000000;
  color:white;
}

.newsletter-form-dark > .newsletter-input-email::placeholder{
  color:white;
}

.error-message{
  padding:5px;
  border-radius:5px;
  background-color:rgba(255, 0, 0, 0.1);
  color:#EE1C25;
  text-align:center;
  width:100%;
}

.error-message a{
  text-decoration: underline;
}

.success-message{
  text-align: center;
}

.success-message-dark{
  color:white;
}