.title, .price{
    margin:0;
    text-align: center;
}

.product-container{
    transition:0.5s;
    position:relative;
}

.main-information{
    position:absolute;
    width:100%;
    transition:0.3s;
}

.misc-information{
    opacity:0;
    transition:0.3s;
}

.misc-text{
    text-align: center;
    margin:0;
    font-size:0.75rem;
}

.thumbnails-container{
    width:100%;
    display:flex;
    height:30px;
    overflow: hidden;
    justify-content: center;
}

.thumbnail{
    width:25%;
    position:relative;
}

.thumbnail > div{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.full-height-image{
    height:100%;
}

.image > div{
    border-radius:5px;
}

.visible{
    opacity:1;
}

.invisible{
    opacity:0;
}
