@import '../../styles//breakpoints.scss';

.location-items-container{
    height:90vh;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    overflow:hidden;
    width:100%;
}

.input-card{
    width:100%;
    padding:20px 10px;

    box-shadow:0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius:5px;
    transition:0.5s;
    @include breakpoint(lg){
        width:300px;
    }
}

.input-card-button{
    padding:5px;
    display:inline-block;
    width:100%;

    background:#EE1C25;
    border:none;
    border-radius: 5px;
    color:white;
    font-weight:800;
    text-align:center;
    font-size:0.75rem;
}

.input-card > p {
    text-align:center;
}

.input-card-input{
    width:100%;
    padding:5px;

    border:1px solid #707070;
    border-radius:5px;
}

.map{
    width:100%;
    height:35vh;

    transition:0.5s;
    z-index:1;
    @include breakpoint(lg){
        width:1200px;
    }
}

.map > div:first-of-type{
    border-radius:5px;
    width:100%;
    height:100%;
    @include breakpoint(lg){
        width:1200px;
    }
}

.is-expanded{
    height:80vh;
}

.is-activated{
    transform:rotate(180deg)
}

.expand-button{
    border:none;
    background:none;
    transition:0.5s;
}

.location-cards{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    overflow:auto;
    z-index:0;
    padding:10px 0 30px;
    @include breakpoint(lg){
        overflow-x: hidden;
    }
}

.horizontal{
    flex-direction: row;
    @include breakpoint(lg){
        flex-direction: column;
    }
}


.location-card{
    display:flex;
    flex-direction: row;
    margin-bottom:20px;
    height:calc(102px + 0.2vw);
    height:fit-content;
    padding:5px;
    cursor: pointer;
    border-radius: 5px;
    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(5px);
    color:white;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.horizontal .location-card{
    margin-right:2.5vw;
    flex-basis: 85vw;
    flex-grow: 0;
    flex-shrink: 0;
    height:fit-content;
    @include breakpoint(lg){
        flex-basis: unset;
    }
}
.card-cover{
    width:50%;
}

.card-cover > div{
    border-radius:5px;
}

.card-text{
    width:50%;
    padding:5px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint(lg){
        padding:5px 20px;
    }
}

.card-title{
    margin:0;
    font-weight:600;
    @include breakpoint(lg){
        font-size:0.75rem;
    }
}

.card-address{
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;

    font-size:0.75rem;
    @include breakpoint(lg){
        font-size:0.5rem;
    }
}

.distance{
    margin:0;

    font-size:0.5rem;
}

.loading-indicator{
    position:relative;
    display:inline-block;
    margin-top:30px;
    left:50%;
    transform: translate(-50%, -50%);
    animation: rotate 1s linear infinite;
}

@keyframes rotate{
    from{
        transform:translate(-50%, -50%) rotate(0deg)
    }
    to{
        transform:translate(-50%, -50%) rotate(360deg);
    }
}

.fetch-message{
    padding:5px;
    border-radius:5px;

    background-color:rgba(255, 0, 0, 0.1);
    color:#EE1C25;
}
