@import '../../../styles//breakpoints.scss';

.location-items-container{
    height:90vh;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    overflow:hidden;
    width:100%;
    padding:10px 0 20px;
    align-items: center;
    margin:auto;
    @include breakpoint(lg){
        height:80vh;
    }
}

.input-card{
    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(5px);
    width:100%;
    padding:20px 10px;

    box-shadow:0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius:5px;
    @include breakpoint(lg){
        width:300px;
    }
}

.input-card-button{
    padding:5px;
    display:inline-block;
    width:100%;

    background:#EE1C25;
    border:none;
    border-radius: 5px;
    color:white;
    font-weight:800;
    text-align:center;
    font-size:0.75rem;
}

.input-card > p {
    text-align:center;
    color:white;
}

.input-card-input{
    width:100%;
    padding:5px;

    border:1px solid #707070;
    border-radius:5px;
}

.map{
    width:100%;
    height:40vh;
    transition:0.5s;
    @include breakpoint(lg){
        width:60%;
        height:100%;
    }
}

.is-expanded{
    height:80vh;
}

.is-activated{
    transform:rotate(180deg)
}

.expand-button-container{
    margin:10px 0px;
    @include breakpoint(lg){
        display:none;
    }
}

.locations{
    > div > div{
        color:white;
        background:rgba(255,255,255,0.15);
        backdrop-filter: blur(5px);
    }
    article{
        color:white;
        background:rgba(255,255,255,0.15);
        backdrop-filter: blur(5px);
    }
    width:100%;
    height:30vh;
    padding:10px;
    @include breakpoint(lg){
        display:flex;
        flex-direction: column;
        width:40%;
        height:100%;
        padding:0 10px 0;
    }
}

.category-filter{
    width:100%;
    padding:5px;
    margin-bottom:5px;
    border-radius: 5px;
    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(5px);
    color:white;
    > option{
        color:black;
    }
}

.expand-button{
    border:none;
    background:none;
    transition:0.5s;
}

.location-cards{
    height:45vh;
    width:100%;
    padding:10px;
    display:flex;
    flex-direction: column;

    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    overflow:scroll;
    z-index:0;
    @include breakpoint(lg){
        overflow-x: hidden;
    }
}

.location-card{
    display:flex;
    flex-direction: row;
    margin-bottom:20px;
    cursor: pointer;
}

.card-cover{
    width:50%;
}

.card-cover > div{
    border-radius:5px;
}

.card-text{
    width:50%;
    padding:5px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    @include breakpoint(lg){
        padding:5px 20px;
    }
}

.card-title{
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;

    font-weight:600;
    @include breakpoint(lg){
        font-size:1.25rem;
    }
}

.card-address{
    margin:0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;

    font-size:0.75rem;
    @include breakpoint(lg){
        font-size:1rem;
    }
}

.distance{
    margin:0;

    font-size:0.75rem;
}

.filter-select{
    width:100%;
    padding:5px;
    margin-bottom:20px;
}

.loading-indicator{
    position:relative;
    display:inline-block;
    margin-top:30px;
    left:50%;
    transform: translate(-50%, -50%);
    animation: rotate 1s linear infinite;
}

@keyframes rotate{
    from{
        transform:translate(-50%, -50%) rotate(0deg)
    }
    to{
        transform:translate(-50%, -50%) rotate(360deg);
    }
}

.fetch-message{
    padding:5px;
    border-radius:5px;

    background-color:rgba(255, 0, 0, 0.1);
    color:#EE1C25;
}

.map-and-locations{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width:100%;
    height:95%;
    @include breakpoint(lg){
        width:80%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
}

.background{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width:100%;
    height:100%;
    z-index:-1;
    overflow:hidden;
}

.full-width-image{
    height:100%;
    object-fit: cover;
    object-position: center center;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    @include breakpoint(lg){
        height:unset;
        width:100%;
    }
}

.overlay{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    background-color:rgba(0, 0, 0, 0.65);
    z-index:1;
}

.find-places-wrapper{
    min-height: 90vh;
    height:100%;
    position:relative;
    @include breakpoint(lg){
        min-height: 80vh;
        height:100%;
    }
}
